<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orichalcos.mapper.ShiroMapper">
    <insert id="save" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_user
        VALUES
        (#{id},#{username},#{password},#{salt});
    </insert>

    <select id="findUserByUsername" parameterType="String" resultType="User">
        SELECT
            id,
            username,
            password,
            salt
        FROM
            t_user
        WHERE
            username = #{username};
    </select>
</mapper>